.container{
    background-color: rgb(19, 4, 49);
    height: 735px;
    width: 1500px;
}
.first{

        background: rgb(19, 4, 49);;;
    /* background: linear-gradient(90deg, rgb(211, 207, 211) 16%, rgba(217, 220, 223, 0.992) 73%, rgb(226, 227, 232) 100%); */
        height: 650px;
        width: 700px;
        position: relative;
        margin-top: 40px;
        /* bottom:29px; */
        margin-left: 50px;
        margin-bottom: 45px;
        /* bottom: 5px; */
        top:40px;
    }
    .firstpart{
        
        /* background: rgb(13, 13, 14);;
background: linear-gradient(90deg, rgb(210, 198, 151) 1%, rgba(37, 35, 32, 0.992) 73%, rgb(207, 193, 126) 100%); */
/* background: rgb(70, 164, 214);
background: linear-gradient(90deg, rgb(10, 14, 16) 100%); */
background: rgb(19, 4, 49);;
background: linear-gradient(90deg, rgb(198, 169, 100) 40%,rgb(184, 143, 31) 100%);
    height: 550px;
    width: 500px;
    position: relative;
    margin-top: 40px;
    /* bottom:29px; */
    margin-left: 80px;
    margin-bottom: 45px;
    /* bottom: 5px; */
    top:48px;
    border-color: transparent;
    text-align:center ;
        font-size:50px;
        color: rgb(11, 11, 11);
        /* display: flex; */
        justify-content: center;
        display: flex;
        /* top:20px; */
}
 
        

        

    .second{
    background-color: rgb(19, 4, 49);;
    height: 650px;
    width: 700px;
    position: relative;
    margin-top: 40px;
    /* bottom:29px; */
    margin-left: 700px;
    margin-bottom: 45px;
    /* bottom: 5px; */
    /* top:5px; */
    bottom: 595px;
    /* background-url: https://media.istockphoto.com/id/1059510610/vector/it-communication-e-learning-internet-network-as-knowledge-base.jpg?s=1024x1024&w=is&k=20&c=kmwjqSyGp0deNokYdBz6avSvWv6aRujZ8LDuIxul4cc= alt=""; */
}
.main{
    height:45px;
    width:700px;
    margin-left: 45px;
    padding: 5%;
}
/* .user-input box{
    height:4px;
    width:45px;
    padding:45px;
    margin: 56px;
    position: relative;
    font-size: 5px;


} */
.form-title{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 6px;
    color:aliceblue;
    text-shadow: 2px 2px 2px black;
    border-bottom: solid 1px rgb(237, 151, 151);

}
.main{
display: flex;
flex-wrap:wrap;
/* justify-content:space-between; */
padding: 20px 0;
/* margin-left: 4px; */

}
.user-input-box{
    display: flex;
    flex-wrap:flexwrap;
     width: 75%;  
    padding-bottom: 1px;
    height: 42px;
    align-content: center;
    /* top:50px; */ 
    margin-bottom: 30px;
    justify-content: center;
    /* margin-top: 1%;  */
    position: relative;
    bottom: 510px;
    /* top: 50px; */
    left: 40%;
    transform: translate(-40%, -60%);
    color:rgb(140, 143, 145);
    /* font-size: 50px; */
    /* align-items: center; */
}
.user-input-box label{
    width: 36%;
    /* color:black; */
    font-size: 40px;
    font-weight: 400;
    margin: 7px 0; 
    /* padding: 1%;  */
    position: relative;
    top: 10px;
    bottom: -10px;
    left: 10%;
    transform: translate(-30%, -50%);
    color:whitesmoke;
    /* display: flex; */
    /* justify-content: center; */
    /* font-size: 50px; */

}
.main h1{
    font-size: 40px;
    /* font-family: 'Courier New', Courier, monospace; */ */
    /* font-weight: 300;
    margin-left: 96px;
    margin:56px; */
    /* /* text-align: center; */
    /* justify-content: center; */
    /* display: flex; */
    /* margin-left: 200px; */
    /* position: relative; */
}
.main img{
    height: 650px;
    width: 700px;
     position: relative;
    /* margin-top: 40px; */
    /* bottom:29px; */
    /* margin-left: 700px; */
    /* margin-bottom: 50px; */
    bottom: 20px;
    /* top:5px; */
    /* bottom: 595px; */
    /* margin-left: 1px; */
    /* left:7px; */
    display: flex;
}
   
.centered {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-40%, -50%);
    color:aliceblue;
    font-size: 50px;;
}
#last{
    /* border-radius: 60%; */
    height: 40px;
    width: 100px;
    right: 100px;
    /* transform: ;/ */
    /* margin-right: 90x; */
    transform: translate(100%, -20%);
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}
#last{
    color: aliceblue;
}
#last: :hover{
    color: rgb(23, 185, 185);
    background-color:orangered;
}
.btn-field button.disable{
    background: #151515;
    color: #555;

   }
   #submitBtn{
       color: #0f0d0d,;
       bottom: 450px;
       position: relative;
       display: flex;
       height: 40px;
       width: 70px;
       justify-content: center;
       align-content: center;
       transform: translate(-40%,-50%);
       text-align: center;
       padding: 20%;
       border: none;
       cursor:pointer;

   }
   #submitBtn:hover{
       color: #fff;
       background-color: #0e0d0d;
   }
   #DOB{
    font-size: 20px;
    font-weight: 200;
    
       }
     .imp{
     
       width: 1320px;
        /* border: black; */
       display: flex;
       flex-wrap: wrap;
       margin:auto;
     } 
     .items{
       
        /* border: #0e0d0d; */
flex-basis: 20%;
position: relative;
padding:1%;
box-shadow: 0px 0px 10px 2px #ccc;

     } 
.items h5{
        margin-bottom: 4px;
     }
     .items span{
        position: absolute;
        font-size: 30px;
        cursor:pointer;
        right: 0px;
        top:0px;
     }

   
   
   